training/datasets/.trash

*.pdf
*.zip
.venv
*/**/.venv
models/**/*
results/**/*
loras/**/*
datasets/**/*
data/**/*
log*.txt
logs/*
*/**/__pycache__/*
__pycache__/*
pads-paper-old/**/*
user_study_chats
!data/V11.0-1000
!data/V11.0-1000/*.json
!data/V11.0-62-bio/*.json
!data/V11.0-62-bio/
!data/V11.0-62-bio/*.json
!data/KinModGPT
!data/KinModGPT/*.json
!data/interaction_examples.json
!data/print_human_readable.py
!data/gen_bio_only_test.py
trips_output.xml
reproduction/*
